#slotButton {
    flex-direction: wrap;
    font-size: 72px;
    text-shadow: 0px 0px 6px darkgoldenrod,
        0px 0px 35px;
    color: gold;
    border: none;
    border-radius: 4x;
    padding: 10px;
    font-family: consolas;
    box-shadow: 0px 0px 50px red,
        0px 0px 25px;
    width: 300px;
    height: 100px;
}

.seven {
    color: red;
    text-shadow: 0px 0px 10px gold,
        0px 0px 25px;
}

.slots {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 200px;
}

/*Gives design to a seven*/
.seven {
    color: red;
    text-shadow: 0px 0px 10px gold,
        0px 0px 25px;
}

/*Puts slot numbers in a spread out row format*/
.slots {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*Givs a font size to the image domain*/
.image-domain {
    font-size: 5px;
}

a:hover {
    color: red;
    font-size: 25px;
}

#declineButton {
    flex-direction: wrap;
    font-size: 7px;
    color: rgb(255, 0, 0);
    border: none;
    padding:10px;
    border-radius: 4px;
    font-family: consolas;
    width:40px;
    height:3px;
}
#acceptButton {
    flex-direction: wrap;
    font-size: 200px;
    color: rgb(72, 255, 0);
    border: none;
    padding:10px;
    border-radius: 4px;
    font-family: consolas;
    width: 750px;
    height: 500px;
} 
#rig {
    width:750px;
}